@import './variables';
@import './mixins/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $color-text-primary;
  background-color: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
  color: $color-text-primary;
}

h1 { font-size: $font-size-3xl; }
h2 { font-size: $font-size-2xl; }
h3 { font-size: $font-size-xl; }
h4 { font-size: $font-size-lg; }
h5 { font-size: $font-size-base; }
h6 { font-size: $font-size-sm; }

p {
  margin-bottom: $spacing-md;
  
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-base;
  
  &:hover {
    color: $color-primary-dark;
  }
}

code {
  font-family: $font-family-mono;
  font-size: 0.9em;
  padding: 0.125em 0.25em;
  background-color: $color-surface;
  border-radius: $radius-sm;
}

pre {
  font-family: $font-family-mono;
  font-size: $font-size-sm;
  line-height: $line-height-relaxed;
  padding: $spacing-md;
  background-color: $color-surface;
  border-radius: $radius-md;
  overflow-x: auto;
  @include custom-scrollbar;
  
  code {
    padding: 0;
    background-color: transparent;
  }
}

ul, ol {
  padding-left: $spacing-lg;
  margin-bottom: $spacing-md;
  
  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: $spacing-xs;
  
  &:last-child {
    margin-bottom: 0;
  }
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  cursor: pointer;
  
  &:disabled {
    cursor: not-allowed;
  }
}

.container {
  width: 100%;
  max-width: $chat-max-width;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}