@use "./styles/variables" as *;

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-surface);
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  min-width: 0;
  position: relative;
}
